body {
    background: url(../../../../IMGS/Background_Lol_page.jpg);
    background-size: cover;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: "Tahoma";
}

#header {
    margin: auto;
    width: 600px;
    font-family: "Tahoma";
    font-size: 16pt;
    position: sticky;
    top: 0px;
    z-index: 1;
    

}

.fondoheader {
    background-color:#79d0b6;
    top: 0px;
    height: 46px;
    display: block;
    position: sticky;
}

ul, ol{
    list-style: none;
}

.nav li a {
    background-color: #79d0b6;
    color:black;
    text-decoration: none;
    padding: 10px 28px;
    display:block;
}

.nav > li {
    float: left;
}

.nav li a:hover {
    background-color: #71c3aa;
}

.nav li ul {
    display:none;
    position: absolute;
    min-width: 140px;

}

.nav li:hover > ul{
    display: block;
    display: ruby-text-container;
}

/* CSS DE LOS SUBTITULOS DE LOS SUBTITULOS */
    
    .nav li ul li{
        position: relative;
    }

    .nav li ul li ul {
        right: -140px;
        top: 0px;
    }
    
/* CIERRO CSS */

    h2 {
        font-family: "Tahoma";
    }

 .Champions {
    padding: 50px;
 }

 .sheet_wiki {
    background-color: #D0C790;
    margin: 80px;
    padding: 80px;
 }
 

.sheet_wiki h1 {
    text-align: center;
    
}


.flex {
    display: flex;
    align-items: center;
    margin: 170px;
    margin-top: 100px;
    /* flex-wrap: wrap; */
}

.img {
    height: 402.969px;

}

.History p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    padding: 19px;
    border: 5px solid black;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.videorutablue {
    border: 10px solid rgb(14, 10, 201);
    
}

.videorutared {
    border: 10px solid rgb(14, 10, 201);
}

